// about section

.about {
  --height-img: 80vh;

  position: relative;
  display: flex;

  @include tablet-big {
    --height-img: 600px;
    min-height: auto;
  }

  @include tablet {
    --height-img: 400px;
    flex-direction: column;

    min-height: 80vh;
  }

  @include tablet {
    --height-img: 400px;
  }

  @include mobile {
    --height-img: 250px;
  }

  &-photo {
    flex-basis: 1;
    position: relative;
    width: calc(var(--height-img)*.75);
    height: calc(var(--height-img));
    max-width: 40vw;
    border-radius: 20px;

    margin: 0 30px 0 0 ;

    background-image: url(../img/bike_fast.jpg);
    background-position: top right;
    background-size: cover;

    box-shadow: 12px 12px 12px rgba(0, 0, 0,.7), 0 0 30px rgba(0, 0, 0, .5), 0 0 45px rgba(0, 0, 0,.2);

    @include tablet {
      position: absolute;
      top: 120px;
      right: 0;
    }

    @include tablet-small {
      position: absolute;
      top: 120px;
      right: 0;
    }

    @include mobile {
      z-index: -1;
      top: 115px;
    }
  }

  &-content {
    flex-basis: 2;
    flex-shrink: 50;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mobile {
      padding-top: 0;
    }
  }

  &-title {
    flex-basis: 100%;
    font-size: 4rem;

    @include mobile {
      margin-bottom: calc(var(--height-img) - 65px);
    }
  } 

  &-text {
    flex-basis: 60%;

    @include tablet {
      flex-basis: 55%;
    }

    @include mobile {
      flex-basis: 100%;
    }
  }

  &-paragraph {
    margin-bottom: 10px;
  }

  &-coop {
    flex-basis: 35%;

    @include tablet {
      margin-top: calc(var(--height-img) - 50px);
    }

    @include mobile {
      margin-top: 20px;
      flex-basis: 100%;
    }

    &-title {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 3rem;
    } 

    &-link {
      display: block;
      margin-top: 2rem;
    }
  }
}