/* reset and basic styles for typical components
*  utility classes at the end of this sectiom
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'ubuntu', 'Helvetica', sans-serif;
  font-size: 10px;
  color: white;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  font-family: $font-text;
  background-color: $color-bg;

  @include mobile {
    font-size: 1rem;
  }
}

h1 {
  font-size: 2.4rem;
  font-family: $font-title;
}

h2 {
  font-size: 4rem;
  font-family: $font-subtitle;
  min-height: 100px;

  @include mobile {
    min-height: 80px;
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.8rem;
  font-family: $font-subtitle;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  font-family: $font-subtitle;
}

section {
  min-height: 100vh;
  padding: 120px 10% 0;

  &#hero {
    padding: 0;
    min-height: 100vh;
  }

  @include tablet {
    min-height: 90vh;
  }
}

fieldset {
  border: none;
  width: 100%
}

input, textarea {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  transition: color .5s, border-color .5s;
}

.bold {
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
}

.btn {
  font-size: 1.3rem;
  font-family: $font-menu;
  letter-spacing: 1px;
  color: $color-text;

  background-color: transparent;
  border: 2px solid $color-text;
  border-radius: 15px;
  padding: 15px 30px;
  
  cursor: pointer;
  outline: none;
  transition: all .5s;
}

.contact-link {
  font-size: 1.6rem;
  color: #777;
  text-decoration: none;

  &:hover {
    color: $color-select;
  }
}

.clearfix {
  &::after {
    display: table;
    content: '';
    clear: both;
  }
}
