// hero section - divided in two halfs, the right with a photograph is hidden for mobile

.hero {
  display: flex;
  align-items: stretch;
  box-shadow: inset 1px -30px 30px #111;

  &-item {
    width: 50%;
    max-width: 50%;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;

    min-height: 500px;

    @include tablet {
      align-items: center;
      width: 100%;
      max-width: 100%;
    }

    @include tablet-big {
      padding-bottom: 40%;
      align-items: center;
      width: 100%;
      max-width: 100%;
    }
    

    h1 {
      font-size: 7rem;
      margin: 2rem 0;
      font-family: $font-title;

      @include mobile {
        font-size: 4rem;
        margin: 10rem 0 4rem;
      }
    }

    p {
      margin: 4rem 0;
    }

    &-subtitle {
      margin: 4rem 0;
      font-size: 1.8rem;

      #cursor {
        opacity: 0;

        &.hidden{
          opacity: 1;
        }
      }
    }

    &-btns {
      padding: 0 15% 0 20%;

      @include mobile {
        padding: 0;
      }
    }

    &-btn {
      &:nth-child(1) {
        border: none;
        background-color: $color-text;
        color: $color-bg;
        font-weight: 600;
        margin-right: 3rem;

        @include mobile {
          margin-right: 1rem;
        }

        &:hover, &:focus {
          background-color: $color-select;
          border-color: $color-select;
          box-shadow: 2px 2px 5px #000;
        }
      }

      &:nth-child(2) {
        border: none;
        color: $color-text;
        font-weight: 600;

        &:hover, &:focus {
          color: $color-select;
        }
      }
    }

    &-icons {
      padding: 0 20%;
      font-size: 2rem;

      display: flex;
      justify-content: space-around;
    }

    &-social-icon {
      color: $color-text;

      &:hover {
        color: $color-select;
      }
    }
  }

  .photo {
    position: relative;

    @include tablet-big {
      width: 0;
    }

    @include tablet {
      display: none;
    }

    img {
      height: 100%;
      max-height: 600px;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
}