// Navbar
header {
  position: fixed;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 100px;
  transition: all 1s;

  &.scrolled {
    background-color: rgba(50,50,50, .5);
    height: 85px;

    .logo {
      font-size: 2rem;

      &-wrapper {
        transform: scale(.8);
      }
    }

    .hamburger {
      top: 20px;
    }
  }
}

.nav {
  font-size: 1.8rem;
  color: $color-text-inactive;

  @include tablet {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #000;
    height: 0;
    overflow: hidden;
    transition: all .5s;

    &.open {
      height: 520px;
    }
  }

  &-list {
    list-style: none;
    display: flex;
    height: 100%;

    @include tablet {
      flex-direction: column;
      justify-content: space-between;
      padding: 60px 70px 50px 100px;
    }
  }

  &-item {
    margin-right: 50px;
    display: flex;
    align-items: center;

    @include tablet {
      margin-right: 0;
      
    }

    &.active {
      font-weight: 600;
      color: $color-text;
    } 
  }
  &-link {
    color: inherit;
    text-decoration: none;

    // line-height: 85px;
    // display: inline-block;
    // height: 100%;

    @include tablet {
      width: 100%;
      text-align: right;
    }

    &:hover {
      color: $color-select;
    }
  }
}

.logo {
  font-family: $font-subtitle;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  transition: font-size 1s;

  &-wrapper {
    width: 55px;
    height: 55px;
    margin: 20px 10px 20px 0;

    line-height: 50px;
    font-size: 3rem;
    text-align: center;

    border-radius: 50%;
    border: 3px solid #fff;
    transform: scale(1);
    transition: transform 1s;
  }
}

.hamburger {
  position: absolute;
  top: 27px;
  right: 24px;
  height: 50px;
  width: 50px;
  flex-direction: column;
  align-items: flex-end;
  display: none;
  transition: top 1s;

  @include tablet {
    display: flex;
    cursor: pointer;
  }

  &:hover {
    .hamburger-item {
      background-color: $color-select;
    }
  }

  &-item {
    background-color: $color-text;
    position: absolute;
    height: 4px;
    transform: translate(0), rotate(0);
    transform-origin: center;
    opacity: 1;
    transition: all .5s;

    &:first-child {
      width: 50px;
      top: 0;
    }

    &:nth-child(2) {
      width: 20px;
      top: 20px;
    }

    &:nth-child(3) {
      width: 30px;
      top: 40px;
    }
  }

    &.open {
      .hamburger-item {
        &:first-child {
            transform: rotate(45deg) translate(25%, 15px);
        }
    
        &:nth-child(2) {
            opacity: 0;
            transform: translateX(-30px)
        }
    
        &:nth-child(3) {
            transform: rotate(-45deg) translate(25%, -15px);
            width: 50px;
      }
    }
  }
}
